/* Multi-level navigation links */

.navlinks-container {
    position: relative;
}

.navlinks-parent:after {
    content: " \25BC";
}

.main-menu .navlinks-container .navlinks-children {
    width: 100%;
    display: none;
    word-break: break-word;
}

.main-menu .navlinks-container .navlinks-children a {
    display: block;
    padding: 10px;
    padding-left: 10px;
    background: #f5f5f5;
    text-decoration: none !important;
    border-width: 0 1px 1px 1px;
    font-weight: normal;
    word-break: break-word;
}

@media only screen and (max-width: 767px) {
    .navlinks-container.show-children {
        background: #eee;
    }
    .navlinks-container.show-children .navlinks-children {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .navlinks-container {
        text-align: center;
    }
    .navlinks-container:hover {
        background: #eee;
    }
    .navlinks-container:hover .navlinks-children {
        display: block;
    }
    .navlinks-children {
        position: absolute;
        left: 0px;
    }
    .navlinks-container .navlinks-children a {
       // padding-left: 10px;
        border: 1px solid #eaeaea;
        border-width: 0 1px 1px;
    }
    .navlinks-container .navlinks-children a:hover {
        background: #bddefb;
    }
}

/* DIY markdown table style  */

table {
     font-family: verdana,arial,sans-serif;
     font-size:11px;
     color:#333333;
     border-width: 1px;
     border-color: #666666;
     border-collapse: collapse;
     width: 100%; 
 }
table th {
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #666666;
     background-color: #dedede;
}
table td {
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #666666;
     background-color: #ffffff;
 }
