<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Description }}">
	<title>{{ .Title }}</title>
	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<base href="{{ .Site.BaseURL }}">
	<link href="{{ .Site.BaseURL }}css/style.min.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet">
        <script src="{{ .Site.BaseURL }}js/jquery-1.12.4.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/main.js"></script>
</head>
<body>
<header class="site-header">
	<div class="container">
		<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		<p class="lead blog-description">{{ .Site.Params.SubTitle }}</p>
	</div>
</header>

<nav class="main-nav">
  <div class="container" id="main-navbar">
    <ul class="main-menu">
            <li class="navlinks-container">
               <a class="navlinks-parent" href="javascript:void(0)" title="" >数据库</a>
                <div class="navlinks-children">
                  <a href="{{ .Site.BaseURL }}db-pg/" title="">Postgres</a>
                  <a href="{{ .Site.BaseURL }}continent-Europe/" title="">欧洲</a>
                  <a href="{{ .Site.BaseURL }}continent-Africa/" title="">非洲</a>
                  <a href="{{ .Site.BaseURL }}continent-NorthAmerica/" title="">北美洲</a>
                  <a href="{{ .Site.BaseURL }}continent-SouthAmerica/" title="">南美洲</a>
                  <a href="{{ .Site.BaseURL }}continent-Oceania/" title="">大洋洲</a>
                  <a href="{{ .Site.BaseURL }}continent-Antarctica/" title="">南极洲</a>
                </div>
            </li>
                            
            <li class="navlinks-container">
               <a class="navlinks-parent" href="javascript:void(0)" title="acs" >四大洋</a>
                <div class="navlinks-children">
                  <a href="{{ .Site.BaseURL }}ocean-Arctic/" title="">北冰洋</a>
                  <a href="{{ .Site.BaseURL }}ocean-Atlantic/" title="">大西洋</a>
                  <a href="{{ .Site.BaseURL }}ocean-Indian/" title="">印度洋</a>
                  <a href="{{ .Site.BaseURL }}ocean-Pacific/" title="">太平洋</a>
                </div>
            </li>

	    <li><a href="{{ .Site.BaseURL }}chinese/" title="">中文</a></li>
	    <li><a href="{{ .Site.BaseURL }}english/" title="">英文</a></li>
	    <li><a href="{{ .Site.BaseURL }}about/" title="关于">About</a></li>
     </ul>
  </div>
</nav>
